---
import Logo from '../assets/Logo.png'
const Pages = [
    "Manual",
    "Support",
    "Releases",
    "Contact",
    "Developer"
]
---
<div class="w-full h-24 fixed top-0 bg-black bg-opacity-30 backdrop-blur-md -mx-2 flex">
    <a href="/en/" class={"outline-none focus:bg-white/20 focus:rounded-md focus:hover:bg-transparent duration-200 "+(Astro.url.pathname=="/" ? "brightness-110":"")}>
        <img src={Logo.src} class="h-full cursor-pointer" alt="O-Asis" transition:persist>
    </a>
    <div class="w-10/12 grid-cols-6 grid">
        {Pages.map(e => 
            <div class="w-full h-full pt-5">
                <div class="w-full h-5/6 flex justify-center items-center">
                    <a href={e.toLowerCase()} class={"outline-none focus:bg-white/20 focus:rounded-md focus:p-2 focus:hover:bg-transparent duration-200 "+(Astro.url.pathname==`/en/${e.toLowerCase()}` ? "font-bold":"")}>{e}</a>
                </div>
                {
                Astro.url.pathname==`/en/${e.toLowerCase()}` &&
                <div class="w-full h-1/6 flex justify-center items-center">
                    <div class="h-2/5 bg-purple-500 w-4/5 mb-2" transition:name="HeaderBar-E"></div>
                </div>
                }
            </div>
        )}
        <div class="w-full h-full flex justify-center items-center pt-3">
            <a href={Astro.url.pathname.slice(3)} class="outline-none focus:outline-4 focus:outline-white/20 outline-offset-2 focus:rounded-md focus:hover:outline-none duration-200 py-1 px-4 border border-gray-300 rounded-md cursor-pointer text-xl bg-gray-200 text-black opacity-95 hover:opacity-100">
                English
            <a/>
        </div>
    </div>
</div>
